<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>1 Example</title>
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
    <!--
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    -->
    <script>
        function Push() {
            $(function () {
                $.getJSON('/data', function (data) {
                    // Create the chart
                    Highcharts.stockChart('container', {
                        rangeSelector: {
                            selected: 1
                        },
                        title: {
                            text: 'AAPL Stock Price'
                        },
                        series: [{
                            name: 'AAPL',
                            data: data,
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
                    });
                });

            });
        }
    </script>
</head>
<body>
<div id="container" style="height: 400px"></div>
<script>
    $(function () {
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });
            $.getJSON('/data', function (data) {
                // Create the chart
                $('#container').highcharts({
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                            load: function () {
                                var series = this.series[0];
                                setInterval(function () {
                                    $.getJSON('/data', function (res) {
                                        $.each(data, function (i, v) {
                                            series.addPoint([v.x, v.y], true, true);
                                        });
                                    })
                                }, 3000)
                            }
                        }
                    },
                    rangeSelector: {
                        selected: 1
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 150
                    },
                    yAxis: {
                        title: {
                            text: 'Value'
                        },
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                    Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                    Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    exporting: {
                        enabled: false
                    },
                    title: {
                        text: '网站浏览量数据'
                    },
                    series: [{
                        name: 'PV',
                        data: (function () {
                            var datas = [];
                            var xxdata = ''
                            var yydata = ''
                            var vv
                            $.each(data, function (i, v) {
                                vv = v
                                if (i < data.length - 1) {
                                    xxdata = data[i].x;
                                    yydata = data[i].y;
                                    datas.push({x: data[i].x, y: data[i].y});
                                }
                            });
                            return datas;
                        }())
                    }]
                });
            });
        })
    });


</script>
</body>
</html>